#map {
	height: 100%;
}
html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#floating-panel {
	position: absolute;
	top: 20px;
	font-family: 'Roboto,Arial,sans-serif';
	font-size: 20px;
	left: 10;
	z-index: 5;
	background-color: rgba(10,23,55,0.5);
	text-align: center;
	color: #fff;
	padding: 4px 4px 4px 4px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5)

}